
<label for="name">Name</label>
<input name="firstName"
       placeholder="A beautiful image"
       class="form-control"
       id="name"
       ng-model="model.widget.name"/>

<label for="description">Text</label>
<textarea name="description"
          rows="5"
          placeholder="Largest country in the world"
          class="form-control"
          id="description"
          ng-model="model.widget.text"></textarea>

<label for="url">URL</label>
<input name="URL"
       placeholder="https://lh6.googleusercontent.com/SDyZhjqlMZdeLL8X-sqAhgyYuOVbk_xyXP_PQ3z7"
       class="form-control"
       id="url"
       ng-model="model.widget.url"/>

<label for="width">Width</label>
<input name="Width"
       placeholder="100%"
       class="form-control"
       id="width"
       ng-model="model.widget.width"/>

<!--<label for="upload">Upload</label>-->
<!--<input name="upload"-->
       <!--placeholder="No file chosen"-->
       <!--class="form-control"-->
       <!--id="upload"-->
       <!--ng-model="model.widget.upload"/>-->

<!--<div class="row">-->

    <!--<div class="col-xs-12">-->
        <!--<a class="btn btn-default btn-info btn-block"-->
           <!--role="button">Upload Image</a>-->
    <!--</div>-->
<!--</div>-->

<div class="row">
    <div class="col-xs-12">
        <form action="/api/upload"   method="post" enctype="multipart/form-data">
            <input  name="myFile"    type="file" class="form-control"/>
            <input  name="width"     value="{{model.widget.width}}" style="display: none"/>
            <input  name="uid"    value="{{model.uid}}"   style="display: none"/>
            <input  name="wid" value="{{model.wid}}"   style="display: none"/>
            <input  name="pid"    value="{{model.pid}}"   style="display: none"/>
            <input  name="wgid"  value="{{model.widget._id}}"   style="display: none"/>
            <button type="submit"    class="btn btn-default btn-info btn-block">Upload Image</button>
        </form>
    </div>
</div>

