<div class="jga jga-profile">
    <nav class="navbar navbar-default navbar-fixed-top">
        <div class="container-fluid">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-left-control">
                <a href="#!/user/{{model.uid}}/website/{{model.wid}}/page"><span class="glyphicon glyphicon-menu-left"></span></a>
            </div>
            <div class="navbar-header">
                <a class="navbar-brand">New Page</a>
            </div>

        </div><!-- /.container-fluid -->
    </nav>


    <div class="container-fluid">

        <div class="row">
            <div class="col-xs-3 visible-lg jga-split-view-left space-for-footbar">

                <ul class="list-group">
                    <li class="list-group-item active">
                        <div class="row">
                            <div class="col-xs-10">Name</div>
                            <div class="col-xs-2">
                                <a href="#!/user/{{model.uid}}/website/{{model.wid}}/page/new" style="color:white">
                                    <span class="pull-right glyphicon glyphicon-plus"></span>
                                </a>
                            </div>
                        </div>
                    </li>
                    <li ng-repeat="page in model.pages" class="list-group-item">
                        <div class="row">
                            <div class="col-xs-10">{{page.name}}</div>
                            <div class="col-xs-2">
                                <a href="#!/user/{{model.uid}}/website/{{model.wid}}/page/{{page._id}}" style="color:white">
                                    <span class="glyphicon glyphicon-cog pull-right"></span>
                                </a>
                            </div>
                        </div>

                    </li>
                </ul>

            </div>

            <div class="col-xs-12 col-lg-9 jga-split-view-right">

                <div class="container centered-md space-for-footbar">
                    <div class="row">
                        <div class="col-xs-12">
                            <label for="name">Name</label>
                            <input name="firstName"
                                   placeholder="Facebook"
                                   class="form-control"
                                   id="name"
                                   ng-model="model.page.name"/>

                            <label for="description">Description</label>
                            <textarea name="firstName"
                                      rows="5"
                                      placeholder="Largest country in the world"
                                      class="form-control"
                                      id="description"
                                      ng-model="model.page.description"></textarea>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-md-6">
                            <a class="btn btn-default btn-primary btn-block"
                               ng-click=model.createPage(model.page)
                               role="button">Create</a>
                        </div>
                        <div class="col-md-6">
                            <a class="btn btn-default btn-warning btn-block"
                               href="#!/user/{{model.uid}}/website/{{model.wid}}/page"
                               role="button">Cancel</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>

    <footer class="footer">
        <a href="profile.html"><span class="glyphicon glyphicon-user" aria-hidden="true"></span></a>
    </footer>

</div>