<div class="jga jga-profile">
    <nav class="navbar navbar-default navbar-fixed-top">
        <div class="container-fluid">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-left-control">
                <a href="#!/user/{{model.uid}}/website/{{model.wid}}/page/{{model.pid}}/widget"><span class="glyphicon glyphicon-menu-left"></span></a>
            </div>
            <div class="navbar-header">
                <a class="navbar-brand">Widget Edit</a>
            </div>

        </div><!-- /.container-fluid -->
    </nav>


    <div class="container-fluid">

        <div class="row">

            <div class="col-xs-12">

                <div class="container centered-md space-for-footbar">
                    <div ng-switch="model.widget.widgetType" class="row">
                        <div ng-switch-when="HEADING" class="col-xs-12">
                            <ng-include src="'views/widget/editors/widget-heading-edit.view.client.html'"/>
                        </div>

                        <div ng-switch-when="IMAGE" class="col-xs-12">
                            <ng-include src="'views/widget/editors/widget-img-edit.view.client.html'"/>
                        </div>

                        <div ng-switch-when="YOUTUBE" class="col-xs-12">
                            <ng-include src="'views/widget/editors/widget-youtube-edit.view.client.html'"/>
                        </div>
                        <div ng-switch-when="HTML" class="col-xs-12">
                            <ng-include src="'views/widget/editors/widget-html-edit.view.client.html'"/>
                        </div>
                        <div ng-switch-when="TEXT" class="col-xs-12">
                            <ng-include src="'views/widget/editors/widget-text-edit.view.client.html'"/>
                        </div>
                    </div>

                    <div class="row buttons">
                        <div class="col-md-6">
                            <a class="btn btn-default btn-primary btn-block"
                               ng-click="model.updateWidget(model.widget)"
                               role="button">Done</a>
                        </div>
                        <div class="col-md-6">
                            <a class="btn btn-default btn-warning btn-block"
                               href="#!/user/{{model.uid}}/website/{{model.wid}}/page/{{model.pid}}/widget"
                               role="button">Cancel</a>
                        </div>
                        <div class="col-xs-12">
                            <a class="btn btn-default btn-danger btn-block"
                               ng-click="model.deleteWidget(model.wgid)"
                               role="button">Delete</a>
                        </div>
                    </div>


                    <div ng-show="model.message" class="alert alert-danger">
                        {{model.message}}
                    </div>
                </div>
            </div>
        </div>

    </div>

    <footer class="footer">
        <a href="#!/user/{{model.uid}}"><span class="glyphicon glyphicon-user" aria-hidden="true"></span></a>
    </footer>

</div>