<label for="name">Name</label>
<input placeholder="Big News!"
       class="form-control"
       id="name"
       ng-model="model.widget.name"/>

<label for="description">Text</label>
<textarea rows="5"
          placeholder="Largest country in the world"
          class="form-control"
          id="description"
          ng-model="model.widget.text"></textarea>

<label for="size">Size</label>
<input name="size"
       placeholder="4"
       class="form-control"
       id="size"
       ng-model="model.widget.size"/>