
<label for="name">Name</label>
<input name="firstName"
       placeholder="a funny video"
       class="form-control"
       id="name"
       ng-model="model.widget.name"/>

<label for="description">Text</label>
<textarea name="description"
          rows="5"
          placeholder="Largest country in the world"
          class="form-control"
          id="description"
          ng-model="model.widget.text"></textarea>

<label for="url">URL</label>
<input name="URL"
       placeholder="https://youtu.be/he3pa8sT-bE"
       class="form-control"
       id="url"
       ng-model="model.widget.url"/>

<label for="width">Width</label>
<input name="Width"
       placeholder="100%"
       class="form-control"
       id="width"
       g-model="model.widget.width"/>
