

<div class="container centered-md" id="profile-panel">

    <h2>Profile</h2>

    <div ng-if="model.ownPage" class="row">
        <div class="col-md-6">
            <label for="firstName">First Name</label>
            <input name="firstName"
                   placeholder="Alice"
                   class="form-control"
                   id="firstName"
                   ng-model="model.user.firstName"/>
        </div>
        <div class="col-md-6">
            <label for="lastName">Last Name</label>
            <input name="lastName"
                   placeholder="Wonderland"
                   class="form-control"
                   id="lastName"
                   ng-model="model.user.lastName"/>
        </div>
        <div class="col-md-6"><label for="username">Username</label>
            <input name="username"
                   readonly
                   value="alice"
                   placeholder="alice"
                   class="form-control"
                   id="username"
                   ng-model="model.user.username"/>
        </div>
        <div class="col-md-6"><label for="email">Email</label>
            <input name="email"
                   type="email"
                   placeholder="alice@wonderland.com"
                   class="form-control"
                   id="email"
                   ng-model="model.user.email"/>
        </div>
    </div>

    <div ng-if="!model.ownPage" class="row">
        <div class="col-md-6">
            <label for="firstName">First Name</label>
            <input name="firstName"
                   placeholder="Alice"
                   class="form-control"
                   id="firstName"
                   ng-model="model.user.firstName" readonly/>
        </div>
        <div class="col-md-6">
            <label for="lastName">Last Name</label>
            <input name="lastName"
                   placeholder="Wonderland"
                   class="form-control"
                   id="lastName"
                   ng-model="model.user.lastName" readonly/>
        </div>
        <div class="col-md-6"><label for="username">Username</label>
            <input name="username"
                   readonly
                   value="alice"
                   placeholder="alice"
                   class="form-control"
                   id="username"
                   ng-model="model.user.username"/>
        </div>
        <div class="col-md-6"><label for="email">Email</label>
            <input name="email"
                   type="email"
                   placeholder="alice@wonderland.com"
                   class="form-control"
                   id="email"
                   ng-model="model.user.email" readonly/>
        </div>
    </div>

    <div ng-if="model.ownPage" class="row">
        <div class="col-md-6">
            <a class="btn btn-default btn-primary btn-block"
               ng-click="model.update(model.user)"
               role="button">Update</a>
        </div>
        <div  ng-if="!model.admin" class="col-md-6">
            <a class="btn btn-default btn-danger btn-block"
               ng-click="model.logout()"
               role="button">Logout</a>
        </div>

        <div  ng-if="model.admin" class="col-md-6">
            <a class="btn btn-default btn-danger btn-block"
               ng-click="model.deleteUser(model.user)"
               role="button">DELETE USER</a>
        </div>

    </div>

    <div ng-show="model.message" class="alert alert-danger">
        {{model.message}}
    </div>

    <!--<div class="footer-margin-space"></div>-->
</div>

<div class="container centered-md" id="playlist-panel">
    <div ng-if="model.ownPage" class="right-control">
        <a data-toggle="modal" data-target="#newPlaylistModal" role="button">
            <h2><i class="fa fa-plus" aria-hidden="true"></i></h2>
        </a>
    </div>
    <h2>Playlists</h2>


    <ul class="music-list row" style="margin-top: 50px">
        <li ng-repeat="playlist in model.playlists">
            <div ng-if="model.ownPage" style="float: right">
                <a role="button" ng-click="model.deletePlaylist(playlist._id)">
                    <h5><i class="fa fa-trash-o" aria-hidden="true"></i></h5>
                </a>
            </div>
            <h5>{{playlist.name}}</h5>
            <ul>
                <li ng-repeat="track in playlist.tracks">
                    <span style="margin-right: 15px">
                        <a role="button" ng-click="model.play(track.uri)"><i class="fa fa-play" aria-hidden="true"></i></i></a>
                    </span>
                    {{track.name}}　/　by {{track.artist}}
                    <span style="margin-left: 15px">
                        <a ng-if="model.ownPage" role="button" ng-click="model.deleteTrack(track.id, playlist._id)"><i class="fa fa-trash-o" aria-hidden="true"></i></a>
                    </span>
                </li>
            </ul>
            <hr>
        </li>
    </ul>
</div>

<!-- Modal -->
<div class="modal fade" id="newPlaylistModal" tabindex="-1" role="dialog" aria-labelledby="newPlaylistModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-body">
                <label for="new-playlist-name">Enter a name:</label>
                <input name="new-playlist-name"
                       class="form-control"
                       id="new-playlist-name"
                       ng-model="newPlaylistName"/>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary" data-dismiss="modal" ng-click="model.createPlaylist(newPlaylistName)">Create</button>
            </div>
        </div>
    </div>
</div>

