

<link href="css/login.css" property="stylesheet" rel="stylesheet"/>
<div class="valign-p">
    <div class="valign-c">
        <div class="container centered-md">

            <div class="row">
                <div id=forms class="col-md-6">
                    <h2>Register</h2>
                    <div ng-show="model.error" class="alert alert-danger">
                        {{model.error}}
                    </div>
                    <label for="username">Username</label>
                    <input name="username"
                           placeholder="alice"
                           class="form-control"
                           id="username"
                           ng-model="username"/>

                    <label for="password">Password</label>
                    <input name="password"
                           placeholder="qwe123$%^"
                           type="password"
                           class="form-control"
                           id="password"
                           ng-model="password"/>

                    <label for="password2">Verify Password</label>
                    <input name="password2"
                           placeholder="qwe123$%^"
                           type="password"
                           class="form-control"
                           id="password2"
                           ng-model="password2"/>
                </div>

                <div id="buttons" class="col-md-6">
                    <div>
                        <a class="btn btn-default btn-primary btn-circle btn-xl"
                           ng-click="model.register(username, password, password2)"
                           role="button">Register</a>
                    </div>

                    <div>
                        <a class="btn btn-default btn-danger btn-circle btn-xl"
                           href="#!/login"
                           role="button">Cancel</a>
                    </div>
                </div>



            </div>


        </div>
    </div>
</div>
